.App {
  text-align: center;
  background: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col {
  display: inline-block
}

.rowC{
  display:flex;
  flex-direction:row;
}
.stage{
  background: lightyellow;
}
.editor{
  padding-right: 2%;
  padding-left: 1%;
}

.App-link {
  color: #09d3ac;
}

.myMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

.topbar{
  display: inline-flex;

}
